

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body>
    <header>
        {% include 'includes/base.html' %}
    </header>
    <main class="grid grid-cols-4 w-full gap-[20px]">
        <div class="col-span-1 p-6 pt-3 h-full border-r-[2px]">
            <p class="text-xl ">Каталог</p>
            <div class="bg-[#c2c2c2] h-fit p-2 flex flex-col gap-5 mt-5">
                <div class="group relative">
                    <a class=" w-fit">Велосипеды</a>
                    <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-500">
                        <div class="flex flex-col ml-5">
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/wethepeople">WeThePeople</a>
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/subrosa">Subrosa</a>
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/radio">Radio</a>
                        </div>
                    </div>
                </div>
                <div class="group relative">
                    <a class=" w-fit">Запчасти</a>
                    <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-500">
                        <div class="flex flex-col ml-5">
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/frames">Рамы</a>
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/bars">Рули</a>
                            <a class="hover:text-[#828282] hover:underline w-fit text-sm" href="http://127.0.0.1:8000/cat/grips">Грипсы</a>
                        </div>
                    </div>
                </div>
                <!-- <a class="hover:text-[#828282] hover:underline"></a> -->


            </div>
        </div>
        <div class="col-span-3">
            {% block content %}

            {% endblock %}

        </div>
        
    </main>
</body>
</html>