<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body class="m-0">
    <div class="flex justify-center items-center w-[100%] h-[100vh]">
        
        <form method="post" class="flex flex-col items-center w-fit">
            {% csrf_token %}
            <p class="font-semibold text-xl mb-[10px]">Регистрация</p>
            <div>
                <div class="flex flex-col w-fit">
                    <label for="{{ form.username.id_for_label }}" class="w-fit">Имя пользователя:</label>
                    <input type="text" name="username" value="{{ request.POST.username }}" class="w-[250px] border border-2 border-[#828282] rounded-lg outline-none p-2"/>
                    {{ form.username.errors }}
                </div>
                <div class="flex flex-col">
                    <label for="{{ form.email.id_for_label }}">Почта:</label>
                    <input type="email" name="email" value="{{ request.POST.email }}" class="w-[250px] border border-2 border-[#828282] rounded-lg outline-none p-2"/>
                    {{ form.email.errors }}
                </div>
                <div class="flex flex-col">
                    <label for="{{ form.password1.id_for_label }}">Пароль: </label>
                    <input type="password" name="password1" value="{{ request.POST.password1 }}" class="w-[250px] border border-2 border-[#828282] rounded-lg outline-none p-2"/>
                    {{form.password1.errors }}
                </div>
                <div class="flex flex-col">
                    <label for="{{ form.password2.id_for_label }}">Повторите пароль: </label>
                    <input type="password" name="password2" value="{{ request.POST.password2 }}" class="w-[250px] border border-2 border-[#828282] rounded-lg outline-none p-2"/>
                    {{ form.password2.errors }}
                </div>
                {{ form.non_field_errors }}
            </div>
            <button type="submit" class="mt-5 text-white bg-black p-3 pl-5 pr-5 rounded rounded-lg w-fit ">Регистрация</button>
            <p class="text-xs text-[#828282] mt-3">Уже есть аккаунт? <a class='hover:text-[#415782] hover:underline' href="http://127.0.0.1:8000/login">Войти</a></p>
            
        </form>
    </div>
</body>
</html>